extends layout 
 
block content 
  h1= title 
 
  form(id='gucciForm', action="/resource/gucci", method="POST") 
    div.form-group 
        label.gucciAttr(for='Itemname') gucci type 
        input#Itemname(type='text', name='Itemname') 
    div.form-group 
        label.gucciAttr(for='price') gucci price
        input#size(type='text', name='price') 
    div.form-group 
        label.gucciAttr(for='quantity') gucci quantity
        input#cost(type='number', name='quantity', max=6, min=0) 
    input(type="submit") 
 
  script. 
    document.forms['gucciForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 